code {
    background-color: black;
    color:white;
    width:fit-content;
    white-space: pre;
    display:block;
    width:90%;
    padding:16pt;
}

article {
    margin-top:20px;
    border: solid;
    border-radius:20px;
    border-color:black;
    padding:20px;
}